.introContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  /* height: 80vh; */
  /* width: 100vw; */
  margin: 0;
  padding: 1% 3%;

  box-sizing: border-box;
  /* 让宽度包含padding和border */
}

.introTitle {
  font-weight: bold;
  margin-bottom: 10px;
}
.introContent{
  margin-right:auto; /* 左对齐 */
}
.introContent li{
  margin-left:10px;
}
.introlist{
  border-left: 2px solid #000;
}
.introlist p{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.coreContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /* height: 80vh; */
  width: 100%;
  aspect-ratio: 16/9;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 让宽度包含padding和border */
}

.mapContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 65%;
  padding: 2%;
  box-sizing: border-box;
  /* 让宽度包含padding和border */
}
.divider{
  width:2px;
  height:90%;
  background-color: #ccc;
}
.sideSpanContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 35%;
  padding: 2%;
  margin-right: 2%;
  box-sizing: border-box;
  /* 让宽度包含padding和border */
}

.sideSpanContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.sideSpanTitle {
  display: 'flex';
  align-items: 'center';
  justify-content: center;

  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;

}

.sideSpan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;

  width: 100%;
}

.opacitySliderContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
}
.opacitySlider{
  width:90%;
}
.toggleButton{
  display: flex;
  justify-content: center;
  align-items: center;
  width:10%;
  padding: 1px;
  margin-left:5px;
  background-color: #eee;
}