.FrontPage {
  display: flex;
  flex-direction: column;
  /* height:100%;
  width:100%; */
}
.mapContainer {
  margin-inline:auto;
  width:100%;
  max-width: 2048px;
  /* background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), 
    linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)),
    url('../assets/index-bg/part2-img.jpeg');
  background-size: cover;
  background-position: center;  
  margin-bottom: 50px; */

}
.partContainer {
  max-width: 2048px;
  margin-inline: auto;
  background-size: cover;
  background-position: center;
  padding:0% 10%;
  min-height: 700px;
  margin-bottom: 50px;
}
.partContent{
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  grid-gap: 30px;
  align-items: center;

}
.partDescription{
  line-height: 1.5;
  font-size: 1.2em;
  width:auto;
  max-width:80%;
}
.partMoreButton{
  margin-top: 20px;
  padding: 30px 40px;
  border-radius: 2px;
}
.part1Image{
  background-image: 
  linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), 
  linear-gradient(to bottom, rgba(255, 255, 255, 1),rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)),
  /* url('../assets/index-bg/part1-img.jpeg'); */
  url('../assets/index-bg/part1-img-SJYT.png');
}
.part2Image{
  background-image: 
  linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), 
  linear-gradient(to bottom, rgba(255, 255, 255, 1),rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)),
  url('../assets/index-bg/part2-img-JCZX.jpeg');
}
.part3Image{
  background-image: 
  linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), 
  linear-gradient(to bottom, rgba(255, 255, 255, 1),rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)),
  url('../assets/index-bg/part2-img_840_500.jpeg');
}
.cardGroupContainer {
  display: grid;
  justify-content: space-between;
  align-items: center ;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  margin-left: auto;
  height: 100%;
  width: 100%;
  padding: 0 5%;
}
