.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    height: 50px;
    width:100vw;
    box-sizing: border-box; /* 让宽度包含padding和border */
    margin-bottom: 0px;

}