.allContainer {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    min-width: 1440px;
    width: 100vw;
    overflow: auto;

}

.layoutContainer {
    display: flex;
    flex-direction: column;
    width:auto;
    padding-left: 3%;
    padding-top: 5%;
    box-sizing: border-box;
}
@media (max-width: 1600px) {
    .layoutContainer {
        /* padding-left: calc(3% - 50px); 当屏幕宽度小于1600px时，减少左侧边距 */
        padding-left: calc(1%); /* 当屏幕宽度小于1600px时，减少左侧边距 */
    }
}
.mainContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width:100%;
    padding-top: 1%;
}

