.mapViewContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}

.mapTifView {
  height: 50%;
  width: 100%;
  float:left;
  padding: 10px;
  box-sizing: border-box;
  /* 让宽度包含padding和border */
}

.mapView {
    height: 50%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    /* 让宽度包含padding和border */
  }
  
.titleContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 200px;
  padding: 10px;
  font-size: 1.5em;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}  
.selectBoxContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}